/** all pages CSS **/
div.IDX-contactStandalone {
	max-width: 1400px;
	margin: 60px auto;
}

/** Contact Sidebar**/
.ar-contactSidebarMap {
    position: relative;
    padding-top: 60%;
    width: 100%;
    overflow: hidden;
}
.ar-contactSidebarMap .ar-contactSidebarGmap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
div#ar-idxContactSidebarHeader h1, div#ar-idxContactSidebarHeader h2, div#ar-idxContactSidebarHeader h3, 
div#ar-idxContactSidebarHeader h4, div#ar-idxContactSidebarHeader h5, div#ar-idxContactSidebarHeader h6, div#ar-idxContactSidebarHeader p {
    margin-top: 0;
    margin-bottom: 5px;
}
div#ar-idxContactSidebarHeader {
    margin-bottom: 20px;
}


/**Prop Contact Sidebar**/
div#arIDX-propDetailsHeader h3#ar-propDetailsAddress, h5#ar-propDetailsLocation {
    margin-top: 0;
    margin-bottom: 0px;
}
div#arIDX-propDetailsHeader {
    margin-bottom: 20px;
}
.arPropDetails-item {
    padding: 15px;
    margin-bottom: 15px;
}
.ar-propDataRow > .arIDX-propertyInfoData:nth-child(2), .ar-propDataRow > .arIDX-propertyInfoData:nth-child(3) {
	background-color: #dddddd;
}
.arPropDetails-icon {
    font-size: 2.5rem;
}
.arPropDetails-icon {
    font-size: 3rem;
    text-align: center;
}
h4.arPropDetails-itemTextInner {
    text-align: center;
}
h4.arPropDetails-itemTextInner span.IDX-label {
    text-transform: uppercase;
    font-size: 0.5em;
}
h4.arPropDetails-itemTextInner {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}
.ar-propDataRow.row.IDX-row {
    margin-bottom: 25px;
}
.ar-propDataRow.row.IDX-row {
    border: 1px solid #dddddd;
}
.ar-propDataRow.row.IDX-row {
    margin-left: 0;
    margin-right: 0;
}

/**contact Page Only**/
div#arIDX-contactHeader h2 {
    margin-bottom: 10px;
}
div#arIDX-contactHeader h2, div#arIDX-contactHeader h5 {
    margin-top: 0;
    margin-bottom: 10px;
}

/**Form Fields**/
div.IDX-contactStandalone label.IDX-control-label, 
div.IDX-contactStandalone .IDX-showingDates label {
    display: none;
}
#IDX-main textarea.IDX-form-control::-webkit-input-placeholder {
    color: #aaa9a9;
}
#IDX-main .IDX-form-control {
	padding: 15px;
	width: 100%;
    margin-bottom: 20px;
    color: #333333;
}
#IDX-main textarea.IDX-form-control {
	height: 220px;
}
h4.icon-radio-group-title {
	margin-top: 0;
    margin-bottom: 10px;
	text-align:center;
}
.switch-field {
	overflow: hidden;
	text-align:center;
	margin-bottom: 20px;
}
.switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0); 
	height: 1px; 
	width: 1px;
	border: 0;
	overflow: hidden;
}
.switch-field label {
    display: inline-block;
    width: 20%;
    transition: 0.3s;
    text-align: center;
    border: 1px solid #dddddd;
    padding: 15px;
    border-left-width: 0;
    background-image: linear-gradient(to bottom, #ffffff 32%, #efefef 100%);
}
.switch-field > label:nth-child(2) {
	border-left-width: 1px!important;
}
span.icon-radio-icon {
    display: block;
    font-size: 2rem;
}
div#IDX-hvPropType-group .switch-field label {
	width: 25%;
}
.switch-field label:hover {
	cursor: pointer;
}
.switch-field:hover label.IDX-radio-inline,
.switch-field:hover input:checked ~ label.IDX-radio-inline, 
.switch-field:hover label.IDX-radio-inline:hover ~ label.IDX-radio-inline {
    color: #222222;
}
.switch-field input:checked + label.IDX-radio-inline,
.switch-field:hover label.IDX-radio-inline:hover {
	color: #222222!important;
    background-image: linear-gradient(to bottom, #d3d3d3 32%, #ffffff 100%);
}
div#arFeatures-leftItems .IDX-form-group.IDX-input-group span.IDX-input-group-addon {
    display: inline-block;
    height: 60px;
    line-height: 60px;
    text-transform: uppercase;
    background-color: #eeeeee;
    border: 1px solid #dddddd;
    padding: 0 10px;
    font-size: 0.7em;
    font-weight: bold;
    text-align: center;
    width: 70px;
    border-left-width: 0;
}
div#arFeatures-leftItems .IDX-form-group.IDX-input-group .IDX-form-control {
    margin-bottom: 0;
    display: inline-block;
    width: calc(100% - 70px);
    margin-right: 0;
}
div#arFeatures-leftItems .IDX-form-group.IDX-input-group {
	margin-bottom: 20px;
}
div#IDX-hvBathsAge-group span.IDX-input-group-addon {
    position: relative;
    top: 1px;
}
#IDX-main textarea#IDX-hvFeatures {
    height: 221px;
}
h5#arIDX_hpProvide {
	text-align: center;
}
h5#ar-hvFormText, h5#ar-moreFormText, h5#ar-showingFormText {
    margin-top: 0;
    margin-bottom: 25px;
}
div#arIDX-hvFormHeader .fusion-title, div#arIDX-moreinfoFormHeader .fusion-title, div#arIDX-scheduleshowingFormHeader .fusion-title {
    margin-bottom: 20px;
}
div#IDX-propertyInfoPrice span.IDX-label {
    display: none;
}