div#IDX-main {
    padding: 0!important;
}
div#arListings-rowOne .fusion-layout-column, div#arListings-gallery .fusion-layout-column {
    margin-bottom: 0;
}
.arListings-splashCol {
    height: 100%!important;
}
.arListings-splashCol > div {
height: 50%!important;
}
div#arListings-mainImg {
    position: relative;
    overflow: hidden;
    text-align: right;
}
div#arListings-mainImg:not(.ar-noImages) {
    height: 600px;
    max-height: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
div#arListings-mainImg img {
    max-height: 600px;
}
div#arListings-mainImg div#arListing-splashStatus {
    display: block!important;
    width: 250px;
    background: rgba(0,0,0,0.95);
    position: absolute;
    text-align: center;
    line-height: 42px;
    letter-spacing: 1px;
    color: #f0f0f0;
    box-shadow: 0 0 3px rgba(0,0,0,.3);
    bottom: 47px;
    right: -56px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
}
.arListings-splashInfo {
    text-align: center;
    position: relative;
    height: 100%;
}
.arListings-splashInfo .arListings-splashInfoWrap {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
}
.splashInfo-count {
    font-size: 3rem;
    color: #000;
    font-weight: 300;
}
.splashInfo-label {
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 600;
}
.arListings-splashImg {
    background-color: #000000;
    height: 100%;
    text-align: center;
    position: relative;
    background-size: cover;
}
.arListings-splashImg i {
    color: #ffffff;
    font-size: 5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.IDX-wrapper-standard #IDX-detailsPrimaryImg {
    max-height: unset!important;
}
.arListings-container {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
}
div#arListings-rowTwo {
    padding-top: 80px;
    padding-bottom: 60px;
}
div#st-1 {
    text-align: left!important;
}
div#arListings-gallery .arListings-galleryImg {
    transition: 0.2s all;
    overflow: hidden;
    display: block;
}
div#arListings-gallery .arListings-galleryImgBox {
    transition: 0.8s all;
    padding-top: 60%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
div#arListings-gallery .arListings-galleryImg:hover .arListings-galleryImgBox {
    transform: scale(1.2);
}
div#arListings-map div#IDX-detailsMap {
    margin-bottom: 0;
}
div#arListings-map {
    height: 500px;
}
div#ar_wc_mapDetails {
    height: 100%;
}
div#arListings-rowSix {
    padding-top: 80px;
    padding-bottom: 0px;
}
div#arListings-rowSixInner > .fusion-layout-column {
    margin-bottom: 0;
}
#arListings-contactImg {
    height: 100%;
    background-size: contain;
    background-position: right top;
    background-repeat: no-repeat;
}
.IDX-wrapper-standard .IDX-field-price .IDX-text, .IDX-wrapper-standard .IDX-field-listingPrice .IDX-text {
    font-size: inherit!important;
}
div#arIDX-similar-listings {
    text-align: center;
}
div#IDX-similar-listings-result {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}
div#IDX-similar-listings-result .IDX-similar-listings--item {
    width: 25%!important;
    margin-left: 0;
    margin-right: 0;
    border: 2px solid #ffffff;
}
div#IDX-similar-listings-result a.IDX-similar-listings--item-image{
    width: 100%;
    height: auto;
    display: block;
    overflow: hidden;
    position: relative;
    padding-top: 69%;
}
div#IDX-similar-listings-result img.IDX-similar-listings--item-image {
    min-width: 100%;
    min-height: 100%;
    height: auto;
    max-width: 150%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
div#IDX-similar-listings-result .IDX-similar-listings--price {
    display: block;
    padding-bottom: 5px;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    color: #ffffff;
    font-size: 1.5rem;
    padding-top: 5px;
    font-weight: 300;
    position: relative;
    top: -46px;
    margin-bottom: -60px;
}
div#IDX-similar-listings-result .IDX-similar-listings--details > .IDX-text:not(.IDX-similar-listings--address-city):not(.IDX-similar-listings--address-state) {
    display: none;
}
div#IDX-similar-listings-result .IDX-similar-listings--details {
    display: block;
    width: 100%!important;
    text-align: center!important;
    padding: 0;
    font-size: 1rem;
}
div#ar-similarListings-title {
    position: relative;
    max-width: 1400px;
    margin: 60px auto 35px;
    z-index: 1;
}
div#ar-similarListings-title:after {
    content: ' ';
    display: block;
    width: 100%;
    border-top: 1px dotted #333333;
    position: absolute;
    top: 60%;
    z-index: -1;
}
h2#IDX-similar-listings-title {
    display: inline-block;
    background-color: #ffffff;
    padding: 15px 45px;
    margin: 0;
}
div#arListings-nav {
    position: relative;
    max-width: 1400px;
    margin: 45px auto 60px;
    text-align: center;
    z-index: 1;
}
div#arListings-nav:after {
    content: ' ';
    display: block;
    width: 100%;
    border-top: 1px dotted #333333;
    position: absolute;
    top: 50%;
    z-index: -1;
}
div#IDX-detailsActionBack, div#IDX-detailsActionNew {
    margin-right: 0;
    margin-bottom: 0;
    width: auto!important;
    min-width: unset!important;
    float: none!important;
    background-color: #ffffff;
    padding: 0 45px;
}
div#IDX-detailsActionBack a:hover, div#IDX-detailsActionNew a:hover, div#arListings-actions a:hover {
    text-decoration: none!important;
}
div#arListings-rowFive {
    padding-top: 60px;
    padding-bottom: 45px;
}
div#arListings-details .IDX-panel-heading {
    display: none;
}
div#arListings-details .IDX-panel {
    margin-bottom: 0;
    border-width: 0;
    padding: 0;
    box-shadow: none;
}
div#arListings-details .IDX-panel-body .IDX-field {
    font-size: 1.2rem;
    line-height: 2em;
}
div#arListings-details span.IDX-label {
    font-weight: 600;
}
div#arListings-detailsTabs h4.fusion-tab-heading {
    font-size: 1.2rem!important;
}
div#arListings-rowSixInnerLeft {
    padding-bottom: 60px;
}
button#IDX-submitBtn, .IDX-wrapper-standard #IDX-saveProperty {
    background: initial;
    text-transform: uppercase;
}
div#IDX-detailsContactForm input[type=text], div#IDX-detailsContactForm input[type=email], div#IDX-detailsContactForm select {
    height: 45px;
    font-size: 1.1rem;
    border: 1px solid #eeeeee;
}
div#IDX-detailsContactForm textarea {
    font-size: 1.1rem;
    border: 1px solid #eeeeee;
}
.arListings-galleryGroupBtn div#IDX-detailsGalleryAction {
    margin-bottom: 0;
    width: 100%;
    height: 100%;
}
.arListings-galleryGroupBtn a#IDX-photoGalleryLink {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    position: relative;
}
.arListings-galleryGroupBtn a#IDX-photoGalleryLink:hover {
    text-decoration: none!important;
}
span#ar-galleryLinkIcon {
    display: block;
    font-size: 6rem;
}
div#ar-galleryLink {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
div#arListings-rowTwoInner {
    max-width: 1000px;
}
div#arListings-actions > div {
    margin-bottom: 20px;
}
div#arListings-actions > div:last-child {
    margin-bottom: 0;
}
div#arListings-openHouse {
    max-width: 1400px;
    margin: 0 auto;
    text-align: center;
}
div#arListingsRow-openHouse {
    padding: 45px 30px 60px;
}
#ar-openHouseTitleWrap {
    position: relative;
    z-index: 1;
}
#ar-openHouseTitleWrap:after {
    content: ' ';
    display: block;
    width: 100%;
    border-top: 1px dotted #333333;
    position: absolute;
    top: 60%;
    z-index: -1;
}
#ar-openHouseTitleWrap h3#IDX-openHouseHeader {
    display: inline-block;
    background-color: #ffffff;
    padding: 15px 45px;
    margin: 0;
}
.IDX-openHouseWrapper {
    margin-bottom: 25px;
}
a#IDX-ohMoreInfo:hover {
    text-decoration: none!important;
}
.IDX-similar-listings--redirect {
	display: none!important;
}
@media only screen and (min-width: 801px){

div#arListings-rowOneRight > .row {
    height: 100%;
    margin-left: 0!important;
    margin-right: 0!important;
}
div#arListings-rowOneRight > .row > .arListings-splashCol {
	padding-left: 0!important;
	padding-right: 0!important;
}
}
@media only screen and (max-width: 800px){
.arListings-splashCol > div.arListings-splashInfo {
    min-height: 200px!important;
    border-bottom: 2px solid #cccccc;
}
.arListings-splashCol > .arListings-splashImg {
display: none!important;
}
div#IDX-similar-listings-result .IDX-similar-listings--item {
    width: 50%!important;
    }
}
@media only screen and (max-width: 640px){
	div#IDX-similar-listings-result .IDX-similar-listings--item {
    	width: 100%!important;
    }
}