/** listing pages CSS **/

div#IDX-main.IDX-type-linkshowcase {
	max-width: 1400px;
	margin: 60px auto;
}

/** link showcase page **/
.arIDX-customLinkIconWrap i {
    font-size: 3rem;
}
.IDX-customLinkTitle h5 {
	margin-top: 0;
	margin-bottom: 0;
    font-size: 26px;
    line-height: 31px;	
}
.arIDX-customLinkIconWrap {
    padding-top: 5px;
}
.IDX-customLinkTitle {
    margin-bottom: 10px;
}
.IDX-customLinkDescription p {
    color: #747474;
    font-style: italic;
    margin-bottom: 10px;
}

/**photo gallery page**/
div#IDX-photoGalleryContainer {
	margin: 60px auto;
}
div#IDX-photoGalleryContainer .IDX-pageHeaderContainer {
    text-align: center;
    margin-bottom: 45px;
}
div#IDX-photoGalleryContainer p#arIDX-propInfoList {
    font-style: italic;
}
div#IDX-photoGalleryContainer p#arIDX-propInfoList .IDX-propertyInfoDataWrap {
    padding: 0 10px;
    border-right: 1px solid;
}
div#IDX-photoGalleryContainer p#arIDX-propInfoList >.IDX-propertyInfoDataWrap:last-child {
	border-right-width: 0;
}
a.arIDX-galleryImgLink {
	display: block;
	overflow: hidden;
	margin-bottom: 10px;
	transition: all 1s;
}
.arIDX-galleryImgLinkImgBg {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding-top: 60%;
	transition: all 1s;
}
a.arIDX-galleryImgLink:hover .arIDX-galleryImgLinkImgBg {
	transform: scale(1.1);
}
.arIDX-galleryRow.IDX-row.row {
    margin-left: -5px;
    margin-right: -5px;
}
.arIDX-galleryRow.IDX-row.row > .arIDX-galleryCol {
    padding-left: 5px;
    padding-right: 5px;
}
div#IDX-photoGalleryContainer .IDX-pageHeaderContainer h5 {
    margin-top: 0;
    margin-bottom: 10px;
}

/**mcalc**/
#arIDX-mainWrap {
	max-width: 1400px;
	margin: 60px auto;
}
#arIDX-mcalcHeaderContainer {
	margin-bottom: 35px;
}

/**Prop Contact Sidebar**/
div#arIDX-propDetailsHeader h3#ar-propDetailsAddress, h5#ar-propDetailsLocation {
    margin-top: 0;
    margin-bottom: 0px;
}
div#arIDX-propDetailsHeader {
    margin-bottom: 20px;
}
.arPropDetails-item {
    padding: 15px;
    margin-bottom: 15px;
}
.ar-propDataRow > .arIDX-propertyInfoData:nth-child(2), .ar-propDataRow > .arIDX-propertyInfoData:nth-child(3), .ar-propDataRow > .arIDX-propertyInfoData:nth-child(6) {
	background-color: #dddddd;
}
.arPropDetails-icon {
    font-size: 2.5rem;
}
.arPropDetails-icon {
    font-size: 3rem;
    text-align: center;
}
h4.arPropDetails-itemTextInner {
    text-align: center;
}
h4.arPropDetails-itemTextInner span.IDX-label {
    text-transform: uppercase;
    font-size: 0.5em;
}
h4.arPropDetails-itemTextInner {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}
.ar-propDataRow.row.IDX-row {
    margin-bottom: 25px;
}
.ar-propDataRow.row.IDX-row {
    border: 1px solid #dddddd;
}
.ar-propDataRow.row.IDX-row {
    margin-left: 0;
    margin-right: 0;
}
#IDX-main div#IDX-mortgageCalculationFileds label.IDX-label {
    font-weight: normal;
}
#IDX-main div#IDX-mortgageCalculationFileds .IDX-form-control {
    height: 60px;
    font-size: 1rem;
}
div#IDX-mortgageCalculationResults span.IDX-label {
    display: block;
}
div#IDX-mortgageCalculationResults .IDX-well {
    padding: 0;
    background-color: transparent;
    border-width: 0;
    box-shadow: none;
}
#IDX-mortgageCalculationResults .IDX-well > .IDX-row {
	position: relative;
	padding-left: 45px;
	border-bottom: 1px solid #c7c7c7;
	padding-bottom: 15px;
    margin-bottom: 10px;
}
#IDX-mortgageCalculationResults .IDX-well > .IDX-row:before {
    content: '\f324';
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-family: "Font Awesome 5 Pro";
    font-weight: 300;
    position: absolute;
    top: 50%;
    left: 0;
    font-size: 2em;
    transform: translateY(calc(-50% - 10px));
}
#IDX-mortgageCalculationResults span.IDX-info, 
#IDX-mortgageCalculationResults .IDX-well > div#IDX-totoalPaymentInfo {
	border-bottom-width: 0;
}
#IDX-mortgageCalculationResults .IDX-well > div#IDX-totoalPaymentInfo:before {
	content: '\f645';
}
#IDX-main input[type=checkbox]#IDX-includePmi {
    margin-left: 0!important;
    margin-right: 10px;
	-webkit-appearance: none;
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 12px;
	border-radius: 0px;
	display: inline-block;
	position: relative;
}
#IDX-main input[type=checkbox]#IDX-includePmi:active, #IDX-main input[type=checkbox]#IDX-includePmi:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
#IDX-main input[type=checkbox]#IDX-includePmi:checked {
	background-color: #e9ecee;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}
#IDX-main input[type=checkbox]#IDX-includePmi:checked:after {
	content: '\2714';
	font-size: 22px;
	position: absolute;
    top: -4px;
    left: 4px;
    color: #222222;
}
div#IDX-mortgagePmi .IDX-checkbox label {
    position: relative;
    top: 3px;
}
div#IDX-mortgagePmiFieldWrap {
    margin-bottom: 5px;
}
#IDX-main div#s2id_IDX-mortgageTerm .select2-choice .select2-chosen {
    height: 35px;
    line-height: 35px;
    margin-top: 0;
}
div#IDX-showAmortizationTabel thead {
    background-color: #dddddd;
    border-top-width: 0;
    border-bottom-width: 0;
}
div#IDX-showAmortizationPagination {
	margin-bottom: 35px;
}