.IDX-searchByCityListItem .fusion-button {
	text-transform: none!important;
}
.IDX-searchByCityListItem {
	padding-bottom: 20px;
}
div#IDX-searchByCityContainer{
    max-width: 1400px;
    margin: 0 auto;
    padding: 60px 0 40px;
}
div#IDX-homesForSaleContainer .arHomes-propsGroup {
    max-width: 1400px;
    margin: 0 auto;
}
div#IDX-homesForSaleContainer .arHomes-propsGroupContainer {
	padding: 60px 30px;
}
div#IDX-homesForSaleContainer .arHomes-propsGroupContainer:nth-of-type(2n) {
	background-color: #c2c3c5;
}
div#IDX-homesForSaleContainer .arHomes-propsGroupContainer div#arHomes-link a {
    padding: 20px;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.25);
	background-color: #c2c3c5;
	margin-bottom: 20px;
	display: block;
	-webkit-transition: all 2s;
	transition: all 0.5s;
}
div#IDX-homesForSaleContainer .arHomes-propsGroupContainer:nth-of-type(2n) div#arHomes-link a {
	background-color: #ffffff;
}
div#IDX-homesForSaleContainer .arHomes-propsGroupContainer div#arHomes-link a .arHomes-linkBox.row.IDX-row {
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
div#IDX-homesForSaleContainer .arHomes-propsGroupContainer div#arHomes-link a:hover .arHomes-linkBox.row.IDX-row {
	opacity: 0.5!important;
}
.arHomes-linkIcon {
    font-size: 5em;
    text-align: center;
    padding-top: 15px;
}
h4.arHomes-linkHeading {
    color: #000000!important;
}
.arSitemap-propsGroup h3 {
    margin-bottom: 5px;
    margin-top: 0;
}
div#arSitemap-propsWrap > .arSitemap-propsGroup {
    padding: 35px 25px;
}
div#arSitemap-propsWrap > .arSitemap-propsGroup:nth-child(2n) {
    background-color: #eeeeee;
}
div#arSitemap-propsWrap > .arSitemap-propsGroup:first-child {
    padding-top: 0!important;
}
div#IDX-sitemapContainer {
    max-width: 1400px;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 45px;
}
#main div#IDX-sitemapContainer .tab-pane > h2 {
    text-align: center;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 10px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}
ul.IDX-sitemapList, ul.simple-sitemap-idx_page, ul.simple-sitemap-post, ul.simple-sitemap-avada_portfolio, ul.simple-sitemap-page {
    column-count: 1;
}
@media only screen and (min-width: 800px) {
	ul.IDX-sitemapList, ul.simple-sitemap-idx_page, ul.simple-sitemap-post, ul.simple-sitemap-avada_portfolio, ul.simple-sitemap-page {
    	column-count: 2;
	}
}
@media only screen and (min-width: 1280px) {
	ul.IDX-sitemapList, ul.simple-sitemap-idx_page, ul.simple-sitemap-avada_portfolio, ul.simple-sitemap-page {
    	column-count: 3;
	}
}