/** results pages CSS **/
.IDX-rosterInnerWrap {
    text-align: center;
}
h3.IDX-rosterCategoryHeader {
    margin-bottom: 0!important;
}
h5.IDX-rosterUserTitle {
    margin-top: 5px;
    margin-bottom: 35px!important;
}
.IDX-rosterAgentImageWrap a.IDX-rosterCategoryLink,
.IDX-rosterAgentImageWrap a.IDX-rosterCategoryLink img,
.IDX-rosterStaffImageWrap a.IDX-rosterCategoryLink,
.IDX-rosterStaffImageWrap a.IDX-rosterCategoryLink img {
  display: block;
  transition: 2s all;
  overflow: hidden;
}
.IDX-rosterAgentImageWrap a.IDX-rosterCategoryLink:hover img,
.IDX-rosterStaffImageWrap a.IDX-rosterCategoryLink:hover img {
  transform: scale(1.2);
}