/** results pages CSS **/
div#IDX-resultsContainer {
    padding-left: 0!important;
    padding-right: 0!important;
}
#IDX-main.IDX-wrapper-standard .IDX-topActions {
    text-align: right!important;
    padding-right:  1rem;
    padding-left:  1rem;
}


/**Agent Bio CSS**/
div#arAgentBioWrap {
    background-color:  #f2f2f2;
}
div#IDX-resultsContent h2.title-heading-center {
    text-align: center;
}
#IDX-main.IDX-wrapper-standard h2.title-heading-center + h3.IDX-results-title {
    font-size: var(--h3_typography-font-size);
    color: var(--h3_typography-color);
    font-family: var(--h3_typography-font-family);
    font-weight: var(--h3_typography-font-weight);
    line-height: var(--h3_typography-line-height);
    letter-spacing: var(--h3_typography-letter-spacing);
    font-style: var(--h3_typography-font-style,normal);
}
div#arAgentBioOuterWrap {
    padding-top: 60px;
    padding-bottom: 60px;
}
.IDX-wrapper-standard .IDX-rosterAgentImage {
    display: inline-block;
    z-index: 1;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
    max-width: 100%;
    line-height: 1;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 3px rgb(0 0 0 / 30%);
    box-shadow: 0 0 3px rgb(0 0 0 / 30%);
}
h3.IDX-bioName, h5.IDX-bioUserTitle {
    text-align: center;
}
ul#ar-IDX-user-actions li {
    display:  block;
}
ul#ar-IDX-user-actions {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    margin-top:  2rem;
}
ul#ar-IDX-user-actions span.fusion-button-text i {
    margin-right: 1rem;
}
@media only screen and (max-width:  640px) {
    ul#ar-IDX-user-actions {
        flex-direction:  column;
    }
}