/** results pages CSS **/
div#ar-pagination {
    text-align: center;
}
#IDX-main.IDX-wrapper-standard .IDX-results-refinement .IDX-refine-search--toggle:hover,
#IDX-main.IDX-wrapper-standard .IDX-results-refinement .IDX-refine-search--toggle:hover:after,
.IDX-wrapper-standard .IDX-results-refinement.IDX-dropdown-open .IDX-refine-search--toggle:hover,
.IDX-wrapper-standard .IDX-results-refinement.IDX-dropdown-open .IDX-refine-search--toggle:hover:after {cursor: pointer;}

div#IDX-resultsTopActions {
    text-align: center;
}
#IDX-main div#IDX-resultsTopActions a:hover {
	text-decoration: none!important;
}
#IDX-main .select2-container .select2-choice>.select2-chosen, 
#IDX-main .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 29px!important;
}
div#IDX-resultsRefineSearchToggle {
    border-right-width: 0!important;
}
#IDX-main.IDX-wrapper-standard .IDX-results--cell--disclaimer {
    display: none!important;
}
nav#IDX-results-pagination {
    text-align: center!important;
}
div#IDX-resultsRefineSearchWrap {
    box-shadow: none;
    background-color: #ffffff;
    border: 2px solid #dddddd;
    border-top-width: 0;
    left: 15px;
    margin-top: 6px;
}
div#IDX-resultsTopActions {
    background-color: transparent;
    border-bottom: 2px solid #dddddd;
}
.IDX-wrapper-standard div#IDX-resultsTopActions .IDX-topAction {
    border-right-width: 0;
}
.IDX-wrapper-standard .IDX-results-refinement .IDX-refine-search--toggle:after {
	display: none!important;
}
div#IDX-resultsHeader {
    margin-top: 35px;
    padding: 0 35px;
}
.IDX-wrapper-standard .IDX-results--cell .IDX-results--cell-inner-wrapper.IDX-results--cell-active, .IDX-wrapper-standard .IDX-results--cell .IDX-results--cell-inner-wrapper.IDX-results--cell-hover {
    border-color: #32cd32!important;
}
.IDX-resultsSaveProperty a.IDX-saveProperty .fa-stack i.fa-heart {
    color: #ffffff;
}
.IDX-resultsSaveProperty a.IDX-saveProperty:hover .fa-stack i.fa-heart,
.IDX-resultsSaveProperty a.IDX-propertySaved .fa-stack i.fa-heart,
.IDX-resultsSaveProperty a.IDX-propertySaved:hover .fa-stack i.fa-heart {
    color: #32cd32;
}
.IDX-wrapper-standard .IDX-disabled {
    opacity: 1!important;
}
@media screen and (min-width: 641px) {
	.IDX-wrapper-standard .IDX-topActions {
        height: 65px;
    	line-height: 57px;
	}
	.IDX-wrapper-standard #IDX-resultsContent {
		top: 0px;
	}
	.IDX-wrapper-standard .IDX-custom-map, .IDX-wrapper-standard #IDX-resultsContent {
    	height: 99vh;
	}
}


/**Scrollbar**/
html {
  --scrollbarBG: #DDDDDD;
  --thumbBG: #222222;
}
.IDX-wrapper-standard #IDX-resultsContent::-webkit-scrollbar {
  width: 11px;
}
.IDX-wrapper-standard #IDX-resultsContent {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
.IDX-wrapper-standard #IDX-resultsContent::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
.IDX-wrapper-standard #IDX-resultsContent::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}


div#IDX-resultsTopActions {
  display: none!important;
}
div#arAgentBioOuterWrap {
  max-width: 1250px;
  margin: 0 auto;
}
div#arAgentBioWrap {
  padding: 60px 15px;
  background-color: #f4f3ea;
}
ul#IDX-agentInfo-group, ul.IDX-list-unstyled.IDX-actionLinks {
    list-style-type: none;
}
div#IDX-bio-collapse {
  display: none;
}
h5.IDX-bioUserTitle.IDX-text-muted {
    text-align: center;
    margin-top: 0;
}
.IDX-row.IDX-agent-bio-inner.row {
    text-align: center;
}
ul.IDX-list-unstyled.IDX-actionLinks {
    margin-top: 0;
    text-align: center;
    padding-inline-start: 0;
    margin-bottom: 0
}
ul.IDX-list-unstyled.IDX-actionLinks > li {
    display: inline-block;
    padding: 0px 15px;
    border-right: 1px solid #888;
    margin-bottom: 15px;
}
ul.IDX-list-unstyled.IDX-actionLinks > li:last-child {
    border-right-width: 0!important;
}