/** results pages CSS **/
.IDX-rosterInnerWrap {
    text-align: center;
}
h3.IDX-rosterCategoryHeader {
    margin-bottom: 0!important;
}
h5.IDX-rosterUserTitle {
    margin-top: 5px;
    margin-bottom: 0!important;
}
.IDX-rosterManagementImageWrap, .IDX-rosterStaffImageWrap, .IDX-rosterAgentImageWrap {
    display: inline-block;
    z-index: 1;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
    max-width: 100%;
    line-height: 1;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 3px rgb(0 0 0 / 30%);
    box-shadow: 0 0 3px rgb(0 0 0 / 30%);
}
.IDX-rosterAgentImageWrap a.IDX-rosterCategoryLink,
.IDX-rosterAgentImageWrap a.IDX-rosterCategoryLink img,
.IDX-rosterStaffImageWrap a.IDX-rosterCategoryLink,
.IDX-rosterStaffImageWrap a.IDX-rosterCategoryLink img,
.IDX-rosterManagementImageWrap a.IDX-rosterCategoryLink,
.IDX-rosterManagementImageWrap a.IDX-rosterCategoryLink img {
  display: block;
  transition: 2s all;
  overflow: hidden;
}
.IDX-rosterAgentImageWrap a.IDX-rosterCategoryLink:hover img,
.IDX-rosterStaffImageWrap a.IDX-rosterCategoryLink:hover img,
.IDX-rosterManagementImageWrap a.IDX-rosterCategoryLink:hover img {
  transform: scale(1.2);
}
.IDX-rosterCategoryHeader {
    margin-top: 1rem;
    margin-bottom: 0;
}
.IDX-rosterManagementWrap, .IDX-rosterAgentWrap, .IDX-rosterStaffWrap {
    padding-bottom:  35px;
}
.IDX-rosterOfficeInfoFields > br {
    display: none;
}
